{% extends 'base.html' %} {% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Write your own blog </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h2> Login</h2>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
     
      <div class="form-group">
        <label for="Password">Username:</label>
        <input type="text" class="form-control" placeholder="Enter User Name" name="username">
      </div>
       <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter Password" name="password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  

{% endblock content %}
