{% extends 'base.html' %} {% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Write your own blog </h3>
                </div>
            </div>
        </div>
    </div>
</header>

{% block title %}Forgot Your Password?{% endblock %}

  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email URL for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me URL!">
  </form>

{% endblock content %}
