{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

{{ new_blog_form.media }}
{% load static %}


<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 32px 48px #E3E7EB;
    }
    .masthead{
      height: 100px;
      padding: 100px 0 0 0;   
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    
</style>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">  </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left top">
      <div class="card-body">
        {% if post %}
        <div class="alert alert-success" role="alert">
          Great! Your blog is awaiting moderation
        </div>
        {% else %}
        <form  method= "POST" enctype="multipart/form-data" action="" style="margin-top: 1.3em;" novalidate>
          {{ new_blog_form | crispy  }}
          {% csrf_token %}
          <div class="alert alert-info" role="alert">
           You can select multiple Tags related to your Blog. <br>
           Keep that number low for clean Blog.
          </div>
          <div class="alert alert-warning" role="alert">
          You cannot edit the tags afterwords.
          </div>
          <div class="alert alert-info" role="alert">
            In case you are confused with image Upload function inside the content field then read this: <br>
            -Images can be added by using Image address or URL. Use "Image" icon for setting the size manually or choose "Insert Media Embed" icon for automatically adjusting the size. <br>
            -Image should be of width under 700px for desktop frinedly and less than 350px for mobile friendly. <br>
            - In case to align Image properly right click on image and then choose align option accordingly. <br>
            -In case you want to use embedding code from pinterest, facebook, twitter , instagram or any other social platform, click on the "Embedd Youtube Video" icon and follow instructions. <br>
            -You can also mention your IG, FB or any other social media account in your blog to promote yourself else you can also update your profile info for better user engagement.

           </div>

          <button type="submit" method= "POST" class="btn btn-dark ">Submit</button>
        </form>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>



{% endblock content %}
<!-- 
 {% comment %} <div class="form-group row">
            <label for="author" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="author" placeholder="Enter your name here">
            </div>
          </div>
            <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="Email" class="form-control" id="email" placeholder="xyz@email.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Blog Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="Give your blog a title">
            </div>
          </div>
            <div class="form-group row">
            <label for="cover" class="col-sm-2 col-form-file">Cover Photo</label>
            <div class="col-sm-10">
              <input type="file" class="form-control-file" id="cover">
            </div>
            
          </div>
               <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label">Location </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="location" placeholder="Mention the name of place you visited">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">State of the visited location</label>
            <select class="form-control" id="state_choice">
              <option value=”Andhra Pradesh”>Andhra Pradesh</option>
              <option value=”Andaman and Nicobar Islands”>Andaman and Nicobar Islands</option>
              <option value=”Arunachal Pradesh”>Arunachal Pradesh</option>
              <option value=”Assam”>Assam</option>
              <option value=”Bihar”>Bihar</option>
              <option value=”Chandigarh”>Chandigarh</option>
              <option value=”Chhattisgarh”>Chhattisgarh</option>
              <option value=”Dadar and Nagar Haveli”>Dadar and Nagar Haveli</option>
              <option value=”Daman and Diu”>Daman and Diu</option>
              <option value=”Delhi”>Delhi</option>
              <option value=”Lakshadweep”>Lakshadweep</option>
              <option value=”Puducherry”>Puducherry</option>
              <option value=”Goa”>Goa</option>
              <option value=”Gujarat”>Gujarat</option>
              <option value=”Haryana”>Haryana</option>
              <option value=”Himachal Pradesh”>Himachal Pradesh</option>
              <option value=”Jammu and Kashmir”>Jammu and Kashmir</option>
              <option value=”Jharkhand”>Jharkhand</option>
              <option value=”Karnataka”>Karnataka</option>
              <option value=”Kerala”>Kerala</option>
              <option value=”Madhya Pradesh”>Madhya Pradesh</option>
              <option value=”Maharashtra”>Maharashtra</option>
              <option value=”Manipur”>Manipur</option>
              <option value=”Meghalaya”>Meghalaya</option>
              <option value=”Mizoram”>Mizoram</option>
              <option value=”Nagaland”>Nagaland</option>
              <option value=”Odisha”>Odisha</option>
              <option value=”Punjab”>Punjab</option>
              <option value=”Rajasthan”>Rajasthan</option>
              <option value=”Sikkim”>Sikkim</option>
              <option value=”Tamil Nadu”>Tamil Nadu</option>
              <option value=”Telangana”>Telangana</option>
              <option value=”Tripura”>Tripura</option>
              <option value=”Uttar Pradesh”>Uttar Pradesh</option>
              <option value=”Uttarakhand”>Uttarakhand</option>
              <option value=”West Bengal”>West Bengal</option>
            </select>
          </div>
          <div class="form-group">
            <label for="content">Story/Tale</label>
            <textarea class="form-control" id="content" placeholder="Write down your story here..." rows="30"></textarea>
          </div> {% endcomment %}
          {% comment %} acion="{% url 'blog_form' %}" {% endcomment %} -->