{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

{{ new_blog_form.media }}
{% load static %}


<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 32px 48px #E3E7EB;
    }
    .masthead{
      height: 100px;
      padding: 100px 0 0 0;   
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    
</style>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">  </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left top">
      <div class="card-body">
        {% if post %}
        <div class="alert alert-success" role="alert">
          Great! Your blog is awaiting moderation
        </div>
        {% else %}
        <form  method= "POST" enctype="multipart/form-data" action="" style="margin-top: 1.3em;" novalidate>
          {{ new_blog_form | crispy  }}
          {% csrf_token %}
          <div class="alert alert-info" role="alert">
           You can select multiple Tags related to your Blog. <br>
           Keep that number low for clean Blog.
          </div>
          <div class="alert alert-warning" role="alert">
          You cannot edit the tags afterwords.
          </div>

          <button type="submit" method= "POST" class="btn btn-dark ">Submit</button>
        </form>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>



{% endblock content %}
