{% extends 'base.html' %} {% load thumbnail %} {% block content %}
{% load crispy_forms_tags %}
{{ comment_form.media }}


<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 32px 48px #E3E7EB;
        overflow: auto;

    }

    .card__image{
      max-width: -webkit-fill-available;
      min-width: -webkit-fill-available;
    }

    .heart {
      font-size: 20px;
    color:red;
    }
    .masthead{
      height: 100px;
      padding: 100px 0 0 0;   
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #tags{
      border-bottom-left-radius: calc(1.5rem - 2px);
        border-top-right-radius: calc(1.5rem - 2px);
        border-top-left-radius: calc(1.5rem - 2px);
        border-bottom-right-radius: calc(1.5rem - 2px);

    }
    [data-style=mypops] + .popover {
background: rgb(202, 198, 198);
}
[data-style=mypops] + .popover.bottom .arrow:after {
border-bottom-color: #000000;
}

.popovermenu {
list-style: none;
padding: 2px;
margin: 1px;
}

.popovermenu li a {
color: rgb(0, 0, 0);
}

</style>
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <!-- <h3 class=" site-heading my-4 mt-3 text-white"> {{ post.title }} </h3> -->
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <a class="black-text pb-2 pt-1" target="_blank" ><i class="fa fa-user"></i> <a class="black-text pb-2 pt-1" data-html="true" data-toggle="popover" data-placement="right" target="_blank" title="" data-style="mypops" id="Pops" data-content="Bio: {{ post.author.profile.bio }} <br>  Insta <a href='{{ post.author.profile.instagram_link }}' title='click here to visit Insta profile'>link </a> <br> Website: <a href='{{ post.author.profile.Website }}' title='click here to visit website'>{{ post.author.profile.Website }} </a>" href= "{% url 'blog:get_user_profile' post.author.id %}">{{ post.author }}</a>  | {{ post.updated_on}} </a> <br>
      
            {% if user.is_authenticated and user == post.author %}
            <a href="{% url 'blog:post_update' post.slug  %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true" > <span class="fa fa-pencil"></span>   Edit</a>
            <form action="{% url 'blog:post_delete' post.slug  %}" method="POST">
              {% csrf_token %}
            <button class="btn btn-dark btn-sm active" role="button" aria-pressed="true" type="submit" name="remove_levels" value="delete"><span style="justify-self: start;" class="fa fa-trash">  </span>     Delete</button>
            </form>
            <div id="confirm" class="modal">
              <div class="modal-body">
                Are you sure?
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Delete</button>
                <button type="button" data-dismiss="modal" class="btn btn-dark" id="cancel">Cancel</button>
              </div>
            </div>
            {% endif %}
         <p></p>

        <img class="card__image" src="{% thumbnail post.cover '1920' as im %}{{ im.url }}{% endthumbnail %}"
    srcset="
    {% thumbnail post.cover '544' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
    {% thumbnail post.cover '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
    {% thumbnail post.cover '992' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
    {% thumbnail post.cover '1200' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
    {% thumbnail post.cover '1920' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
        alt="{{ post.title }}"
    sizes="100vw"
      />
        <div ><i class="fa fa-camera"></i> <a class="black-text pb-2 pt-1" href="{% url 'blog:get_state' post.slug_st %}">
          {{ post.state}}</a> |<a class="black-text pb-2 pt-1" href="{% url 'blog:get_location' post.slug_lc %}"> {{ post.location}} </a>
        </div>
        <p class="card-text ">{{ post.content| safe }}</p>
          <p></p>
       
          
          <hr style="height:2px;border-width:0;color:gray;background-color:gray"><br>
          <a class = 'like-btn' data-href="{{ post.get_api_like_url }}" data-likes= "{{ post.like.count }}" href="{{ post.get_like_url }}">  <i class="heart fa fa-heart"></i> {{ post.like.count }} </a> &ensp;
          <a class="black-text pb-2 pt-1">{{ views_count }} {{ view.ip.count }} <i class="fa fa-eye"></i>       {{ post.views }} </a> &ensp; <br>
          <div class="fb-like " data-href="http://talesbytravelers.in/{{ post.slug }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div> &ensp;
          
          <div class="fb-share-button" data-href="http://talesbytravelers.in/{{ post.slug }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftalesbytravelers.in%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> &ensp;
          <a class="btn-sm btn-twitter"
          href="https://twitter.com/share?url=http://talesbytravelers.in/{{ post.slug }}&text=Please like and share" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Twitter">
            <i class="fa fa-twitter-square" style="font-size:24px"></i></a>
            <a href="whatsapp://send?text=http://talesbytravelers.in/{{ post.slug }}" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp"><i class="fa fa-whatsapp" style="font-size:24px;color:green"></i></a>

          <p></p>
                 
          <div class="fb-comments" data-href="http://talesbytravelers.in/{{ post.slug }}" data-numposts="2" data-width="10px"></div>
          <p>
        
              {% for cat in post.category.all %} &ensp;
                <a href="{% url 'blog:get_category' cat.category %}" id = "tags" class= "btn btn-dark btn-sm active" role="button" aria-pressed="true">
                  {{ cat.category }}
                </a>
                   
                  {% empty %}
                  {% endfor %}
          </p>


      </div>
    </div>

    <div class="col-md-12 card mb-4  mt-3 ">
      <div class="card-body">
      
        <!-- comments -->
        <h4>{{ comments.count }} Opinions</h4>

        {% for comment in comments %}
        <div class="comments" style="padding: 5px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>url
        {% endfor %}
      </div>
    </div>
    <div class="col-md-12 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is now live
        </div>
        {% else %}
        <h4>Leave a Reply</h4>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <script src='https://www.google.com/recaptcha/api.js'></script>
          <div class="g-recaptcha" data-sitekey="6LdVaQAVAAAAAEx_ba36Gt2hoCT4vwmMEqX43Yrf"></div>
          <button type="submit" method= "post" class="btn btn-dark">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div><br>
<script>
  $('button[name="remove_levels"]').on('click', function(e) {
  var $form = $(this).closest('form');
  e.preventDefault();

  $('#confirm').modal({
      backdrop: 'static',
      keyboard: false
  })
  .on('click', '#delete', function(e) {
      $form.trigger('submit');
    });
  $("#cancel").on('click',function(e){
    e.preventDefault();
    $('#confirm').modal.model('hide');
  });

});
</script>
<script>
jQuery(document.links) .filter(function() { return this.hostname != window.location.hostname; }) .attr('target', '_blank');

</script>

{% endblock content %}

