{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right mt-4 ">
    <div class="card my-4">
            <h5 class="card-header">Do you have Some Awesome Tale?</h5>
        <div class="card-body">
            <p class="card-text"> You can write your own travel blogs or your short journey stories that you want to share with the community. Well written or helpful posts will be featured on our home page as well as on other social media platforms.</p>
            <a href="{% url 'blog:blog_form' %}"
            class="btn btn-outline-dark btn-sm">Write now</a>
        </div>
    </div>
    <center>
        <div class="fb-page" data-href="https://www.facebook.com/Tales-by-Travelers-100648714955907" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Tales-by-Travelers-100648714955907" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Tales-by-Travelers-100648714955907">Tales by Travelers</a></blockquote></div>

    </center>

</div>


{% endblock sidebar %}