{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right mt-4 " style="margin: 10px;">
    <div class=" my-4">
   <center> <h3>Category</h3></center>
   <ul class="list-group">
        {% for category in categories %}
        <li><a class="list-group-item black-text" href="{% url 'blog:get_category' category %}">{{ category }}</a></li>
        {% endfor %}
    </ul>
    </div>

</div>
<div class="col-md-4 float-left mt-4 " style="margin: 10px;">
    <div class=" my-4">
   <center> <h3>Destination</h3></center>
   <ul class="list-group">
        {% for state in states %}
        <li><a class="list-group-item black-text" href="{% url 'blog:get_state2' state %}">{{ state }}</a></li>
        {% endfor %}
    </ul>
    </div>

</div>



{% endblock sidebar %}